@import "tailwindcss";

@theme inline {
  --color-crimson: #A31621;
  --color-snow: #FCF7F8;
  --color-silver: #CED3DC;
  --color-steel: #4E8098;
  --color-sky-light: #90C2E7;
  --font-serif: var(--font-spectral);
}
